/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix::after {
  display: table;
  content: '';
  clear: both; }

body {
  background: #F0F0F0; }
  body .content .container {
    width: 1280px;
    margin: 0 auto;
    padding-top: 40px;
    color: #2EB738; }
    body .content .container .row {
      display: block;
      margin-top: 40px;
      margin-left: 60px; }
      body .content .container .row .title {
        text-align: center;
        width: 350px;
        float: left;
        margin-left: 30px;
        border-top: 1.5px solid #2EB738;
        border-bottom: 1.5px solid #2EB738;
        line-height: 72px; }
        body .content .container .row .title h1 {
          font-size: 56px;
          padding-top: 113.5px;
          font-weight: bold; }
        body .content .container .row .title h2 {
          font-size: 24px;
          padding-bottom: 118.5px;
          font-weight: bold; }
      body .content .container .row .col-4 {
        width: 350px;
        background: #fff;
        float: left;
        margin-left: 30px;
        border-radius: 100px 0px 30px 0px; }
        body .content .container .row .col-4 .row {
          margin: 64px auto; }
          body .content .container .row .col-4 .row .col-6 {
            display: block;
            float: left;
            width: 118px;
            margin-left: 40px; }
            body .content .container .row .col-4 .row .col-6 h2 {
              font-size: 128px;
              font-weight: bold;
              text-shadow: #F0F0F0 4px 3px 0px; }
            body .content .container .row .col-4 .row .col-6 p {
              font-size: 24px;
              line-height: 43px; }
  body .footer {
    background: #2EB738;
    margin-top: 80px; }
    body .footer .container {
      background: #2EB738;
      width: 1280px;
      margin: 0 auto; }
      body .footer .container p {
        color: #fff;
        padding: 8px 0;
        float: right;
        margin-right: 100px; }
